.todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin-bottom: 18px;
    max-height: 40vh;
    overflow: auto;
}

.todo-list::-webkit-scrollbar {
    width: 0px;
}


.handlers {
    display: flex;
    gap: 20px;
}

.load {
    display: flex;
    margin-left: 48vw;
    justify-content: center;
}

@media (max-width: 768px) {
    .todo-list {
        grid-template-columns: 1fr 1fr;
    }

    .load {
        margin-left: 40vw;
    }
}