.todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-bottom: 18px;
}

@media (max-width: 768px) {
    .todo-list {
        grid-template-columns: 1fr 1fr;
    }
}